<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="{{ url_for('static', filename='assets/') }}"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta name="description" content=""/>
    <title>{% block title %} {% endblock %}</title>
    {% block styles %}

    {% endblock %}
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- Core JS -->

<script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

<script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="{{ url_for('static', filename='assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>

<!-- Main JS -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

<!-- Page JS -->
<script src="{{ url_for('static', filename='assets/js/dashboards-analytics.js') }}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>